<h1>Lambda Functions</h1>

<p>Broadly speaking, lambda functions are nameless functions that we intend to use only one time.

In [1]:
#Defining a Function
def squared(x):
    return x ** 2

In [2]:
#Creating a list of the integers between 1 and 100
lst = [i+1 for i in range(100)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [3]:
#Creating an empty list
squared_list = []

#Iterating through the lst object
for num in lst:
    #Applying the squared function to each object and appending them to the empty list
    squared_list.append(squared(num))
    
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [4]:
#Creating the same output with a lambda function
squared_list2 = []

for num in lst:
    squared_list2.append((lambda x: x**2)(num))

print(squared_list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

Why do we have to use the following structure?

**(lambda x: x ** 2)(num)**

In [5]:
#Creating the same output with a lambda function
squared_list2 = []

for num in lst:
    squared_list2.append(lambda x: x**2)

print(squared_list2)

[<function <lambda> at 0x000001E293F9E510>, <function <lambda> at 0x000001E293F9E048>, <function <lambda> at 0x000001E293F9E378>, <function <lambda> at 0x000001E293F9E620>, <function <lambda> at 0x000001E293F9E6A8>, <function <lambda> at 0x000001E293F9E730>, <function <lambda> at 0x000001E293F9E7B8>, <function <lambda> at 0x000001E293F9E840>, <function <lambda> at 0x000001E293F9E8C8>, <function <lambda> at 0x000001E293F9E950>, <function <lambda> at 0x000001E293F9E9D8>, <function <lambda> at 0x000001E293F9EA60>, <function <lambda> at 0x000001E293F9EAE8>, <function <lambda> at 0x000001E293F9EB70>, <function <lambda> at 0x000001E293F9EBF8>, <function <lambda> at 0x000001E293F9EC80>, <function <lambda> at 0x000001E293F9ED08>, <function <lambda> at 0x000001E293F9ED90>, <function <lambda> at 0x000001E293F9EE18>, <function <lambda> at 0x000001E293F9EEA0>, <function <lambda> at 0x000001E293F9EF28>, <function <lambda> at 0x000001E293FBD048>, <function <lambda> at 0x000001E293FBD0D0>, <function <lambda> at 0x000001E293FBD158>, <function <lambda> at 0x000001E293FBD1E0>, <function <lambda> at 0x000001E293FBD268>, <function <lambda> at 0x000001E293FBD2F0>, <function <lambda> at 0x000001E293FBD378>, <function <lambda> at 0x000001E293FBD400>, <function <lambda> at 0x000001E293FBD488>, <function <lambda> at 0x000001E293FBD510>, <function <lambda> at 0x000001E293FBD598>, <function <lambda> at 0x000001E293FBD620>, <function <lambda> at 0x000001E293FBD6A8>, <function <lambda> at 0x000001E293FBD730>, <function <lambda> at 0x000001E293FBD7B8>, <function <lambda> at 0x000001E293FBD840>, <function <lambda> at 0x000001E293FBD8C8>, <function <lambda> at 0x000001E293FBD950>, <function <lambda> at 0x000001E293FBD9D8>, <function <lambda> at 0x000001E293FBDA60>, <function <lambda> at 0x000001E293FBDAE8>, <function <lambda> at 0x000001E293FBDB70>, <function <lambda> at 0x000001E293FBDBF8>, <function <lambda> at 0x000001E293FBDC80>, <function <lambda> at 0x000001E293FBDD08>, <function <lambda> at 0x000001E293FBDD90>, <function <lambda> at 0x000001E293FBDE18>, <function <lambda> at 0x000001E293FBDEA0>, <function <lambda> at 0x000001E293FBDF28>, <function <lambda> at 0x000001E293FC5048>, <function <lambda> at 0x000001E293FC50D0>, <function <lambda> at 0x000001E293FC5158>, <function <lambda> at 0x000001E293FC51E0>, <function <lambda> at 0x000001E293FC5268>, <function <lambda> at 0x000001E293FC52F0>, <function <lambda> at 0x000001E293FC5378>, <function <lambda> at 0x000001E293FC5400>, <function <lambda> at 0x000001E293FC5488>, <function <lambda> at 0x000001E293FC5510>, <function <lambda> at 0x000001E293FC5598>, <function <lambda> at 0x000001E293FC5620>, <function <lambda> at 0x000001E293FC56A8>, <function <lambda> at 0x000001E293FC5730>, <function <lambda> at 0x000001E293FC57B8>, <function <lambda> at 0x000001E293FC5840>, <function <lambda> at 0x000001E293FC58C8>, <function <lambda> at 0x000001E293FC5950>, <function <lambda> at 0x000001E293FC59D8>, <function <lambda> at 0x000001E293FC5A60>, <function <lambda> at 0x000001E293FC5AE8>, <function <lambda> at 0x000001E293FC5B70>, <function <lambda> at 0x000001E293FC5BF8>, <function <lambda> at 0x000001E293FC5C80>, <function <lambda> at 0x000001E293FC5D08>, <function <lambda> at 0x000001E293FC5D90>, <function <lambda> at 0x000001E293FC5E18>, <function <lambda> at 0x000001E293FC5EA0>, <function <lambda> at 0x000001E293FC5F28>, <function <lambda> at 0x000001E293FC6048>, <function <lambda> at 0x000001E293FC60D0>, <function <lambda> at 0x000001E293FC6158>, <function <lambda> at 0x000001E293FC61E0>, <function <lambda> at 0x000001E293FC6268>, <function <lambda> at 0x000001E293FC62F0>, <function <lambda> at 0x000001E293FC6378>, <function <lambda> at 0x000001E293FC6400>, <function <lambda> at 0x000001E293FC6488>, <function <lambda> at 0x000001E293FC6510>, <function <lambda> at 0x000001E293FC6598>, <function <lambda> at 0x000001E293FC6620>, <function <lambda> at 0x000001E293FC66A8>, <function <lambda> at 0x000001E293FC6730>, <function <lambda> at 0x000001E293FC67B8>, <function <lambda> at 0x000001E293FC6840>, <function <lambda> at 0x000001E293FC68C8>, <function <lambda> at 0x000001E293FC6950>, <function <lambda> at 0x000001E293FC69D8>, <function <lambda> at 0x000001E293FC6A60>, <function <lambda> at 0x000001E293FC6AE8>]

In [6]:
squared_list2[0]

In [7]:
squared_list2[0](2)

4

We can assign lambda functions to variables

In [8]:
a = lambda x: x** 2

In [9]:
print(a)

<function <lambda> at 0x000001E293FC6BF8>

In [10]:
type(a)

function

In [11]:
a(2)

4

<h2>General Examples</h2>

In [12]:
#We have a list with the names of some of the students of the DA Bootcamp
#I want to return their names in lower case

student_list = ['Célia', 'Lucas', 'Rodney', 'Henrique', 'Marianna', 'Rafael']

std_list_lower = [(lambda x: x.lower())(name) for name in student_list]

std_list_lower

['célia', 'lucas', 'rodney', 'henrique', 'marianna', 'rafael']

In [13]:
#Now, I want to sort their names
student_list.sort()
print(student_list)

['Célia', 'Henrique', 'Lucas', 'Marianna', 'Rafael', 'Rodney']

In [14]:
#What if I want to sort their names based on the third letter of their name
sorted(student_list, key=lambda x:x[2])

['Lucas', 'Rodney', 'Rafael', 'Célia', 'Henrique', 'Marianna']

In [15]:
#We can do the same thing if we want to sort based on the last char of their name
sorted(student_list, key=lambda x:x[-1])

['Célia', 'Marianna', 'Henrique', 'Rafael', 'Lucas', 'Rodney']

In [16]:
#Using if statements to return 1 if the name of the student starts with a vowel and 0 if its starts with a consonant

std_list_vowel = [(lambda x: 1 if x[0].lower() in 'aeiou' else 0)(name) for name in student_list]

print(std_list_vowel)

[0, 0, 0, 0, 0, 0]

In [17]:
print(student_list)

std_list_vowel = [(lambda x: 1 if x[3].lower() in 'aeiou' else 0)(name) for name in student_list]

print(std_list_vowel)

['Célia', 'Henrique', 'Lucas', 'Marianna', 'Rafael', 'Rodney']
[1, 0, 1, 1, 1, 0]

<h2>Data Analysis Examples</h2>

In [18]:
import pandas as pd

columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [19]:
iris._get_numeric_data().head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [20]:
iris['sepal_length'].median()

5.8

In [21]:
iris['sepal_length'].apply(lambda x: "Greater than the median"
                           if x > iris['sepal_length'].median() else "Less than the median")

0         Less than the median
1         Less than the median
2         Less than the median
3         Less than the median
4         Less than the median
5         Less than the median
6         Less than the median
7         Less than the median
8         Less than the median
9         Less than the median
10        Less than the median
11        Less than the median
12        Less than the median
13        Less than the median
14        Less than the median
15        Less than the median
16        Less than the median
17        Less than the median
18        Less than the median
19        Less than the median
20        Less than the median
21        Less than the median
22        Less than the median
23        Less than the median
24        Less than the median
25        Less than the median
26        Less than the median
27        Less than the median
28        Less than the median
29        Less than the median
                ...
120    Greater than the median
121       Less than the median
122    Greater than the median
123    Greater than the median
124    Greater than the median
125    Greater than the median
126    Greater than the median
127    Greater than the median
128    Greater than the median
129    Greater than the median
130    Greater than the median
131    Greater than the median
132    Greater than the median
133    Greater than the median
134    Greater than the median
135    Greater than the median
136    Greater than the median
137    Greater than the median
138    Greater than the median
139    Greater than the median
140    Greater than the median
141    Greater than the median
142       Less than the median
143    Greater than the median
144    Greater than the median
145    Greater than the median
146    Greater than the median
147    Greater than the median
148    Greater than the median
149    Greater than the median
Name: sepal_length, Length: 150, dtype: object

In [22]:
iris[['sepal_length','petal_width']].head()

   sepal_length  petal_width
0           5.1          0.2
1           4.9          0.2
2           4.7          0.2
3           4.6          0.2
4           5.0          0.2

In [23]:
iris[['sepal_length','petal_width']].apply(lambda x: x + 2).head()

   sepal_length  petal_width
0           7.1          2.2
1           6.9          2.2
2           6.7          2.2
3           6.6          2.2
4           7.0          2.2