<h1>Tuples</h1>

In [2]:
#Defining a tuple
tup_a = (1,2,3,4,5)

tup_a

(1, 2, 3, 4, 5)

In [3]:
type(tup_a)

tuple

In [6]:
#Defining a tuple with a blank element
tup_a = (1,)

tup_a

(1,)

In [7]:
type(tup_a)

tuple

In [8]:
#Defining a tuple without opening and closing parenthesis
tup_a = 1,2,3,4,5

tup_a

(1, 2, 3, 4, 5)

In [9]:
type(tup_a)

tuple

In [10]:
#Defining a tuple with diferent data types inside it
tup_b = (2019, "Data Analytics", ['Vinícius','Raiana','Rogério'])

tup_b

(2019, 'Data Analytics', ['Vinícius', 'Raiana', 'Rogério'])

In [11]:
type(tup_b)

tuple

In [12]:
#Let's slice this tuple
tup_b[0]

2019

In [13]:
tup_b[1]

'Data Analytics'

In [14]:
tup_b[2]

['Vinícius', 'Raiana', 'Rogério']

In [68]:
tup_b[2][1][0]

'R'

In [15]:
#Let's try to change the elements of the tuple
tup_b[0] = 2020

TypeError: 'tuple' object does not support item assignment

<p><strong>IMPORTANT:</strong> Tuples are immutable. But if they hold a mutable object, we can change this object.

In [17]:
#Let's try to add a new element to the list inside the tup_b
tup_b[2]

['Vinícius', 'Raiana', 'Rogério']

In [18]:
tup_b[2].append('Juliana')

In [19]:
tup_b

(2019, 'Data Analytics', ['Vinícius', 'Raiana', 'Rogério', 'Juliana'])

In [74]:
tup_b[1] = tup_b[1].lower()

TypeError: 'tuple' object does not support item assignment

In [75]:
tup_b[0] + 1

2020

The tuple has changed!

In [20]:
#Let's calc the number of elements inside the tuple
len(tup_b)

3

In [21]:
#Let's iterate a tuple
for element in tup_b:
    print(element)

2019
Data Analytics
['Vinícius', 'Raiana', 'Rogério', 'Juliana']

In [22]:
#We can use list comprehension with tuples
lst = [element for element in tup_b]

lst

[2019, 'Data Analytics', ['Vinícius', 'Raiana', 'Rogério', 'Juliana']]

In [23]:
#Tuple unpacking
a, b, c = tup_b

In [24]:
a

2019

In [25]:
b

'Data Analytics'

In [26]:
c

['Vinícius', 'Raiana', 'Rogério', 'Juliana']

In [79]:
#Tuple unpacking with a placeholder

a, *_ = tup_b

In [80]:
a

2019

In [82]:
_[0]

'Data Analytics'

In [87]:
#Tuple unpacking with a placeholder (example 2)
tup_c = (1,2,3,4,5,6,7,8,9,10)

a, *_, b, c, d = tup_c

In [84]:
a

1

In [85]:
b

10

In [88]:
_

[2, 3, 4, 5, 6, 7]

<h1>Dicts</h1>

In [89]:
#Let's create a dictionary

data_analytics = {"Caio":[24,"Bacharel em Cinema e Audiovisual","Roteirista @ Sbrubles"],
                  "Mari Zef":[24,"Bacharel em Economia","Pesquisadora @ UFPE"], 
                  "Lucas Car":[25,"Bacharel em Física","Programador @ Sbrubles"]}

In [90]:
data_analytics

{'Caio': [24, 'Bacharel em Cinema e Audiovisual', 'Roteirista @ Sbrubles'],
 'Mari Zef': [24, 'Bacharel em Economia', 'Pesquisadora @ UFPE'],
 'Lucas Car': [25, 'Bacharel em Física', 'Programador @ Sbrubles']}

In [92]:
data_analytics['Caio'][0]

24

In [93]:
#Retrieving the keys of a dictionary

data_analytics.keys()

dict_keys(['Caio', 'Mari Zef', 'Lucas Car'])

In [94]:
#Retrieving the values of a dictionary

data_analytics.values()

dict_values([[24, 'Bacharel em Cinema e Audiovisual', 'Roteirista @ Sbrubles'], [24, 'Bacharel em Economia', 'Pesquisadora @ UFPE'], [25, 'Bacharel em Física', 'Programador @ Sbrubles']])

In [95]:
#Retrieving the items (pairs) of a dictionary

data_analytics.items()

dict_items([('Caio', [24, 'Bacharel em Cinema e Audiovisual', 'Roteirista @ Sbrubles']), ('Mari Zef', [24, 'Bacharel em Economia', 'Pesquisadora @ UFPE']), ('Lucas Car', [25, 'Bacharel em Física', 'Programador @ Sbrubles'])])

In [96]:
#Adding a new element to the dictionary

data_analytics["Rogério"] = [24, "Bacharel em Ciências e Humanidades", "Geographic Data Analyst @ TomTom"]

In [97]:
#Checking if the element has been added

data_analytics

{'Caio': [24, 'Bacharel em Cinema e Audiovisual', 'Roteirista @ Sbrubles'],
 'Mari Zef': [24, 'Bacharel em Economia', 'Pesquisadora @ UFPE'],
 'Lucas Car': [25, 'Bacharel em Física', 'Programador @ Sbrubles'],
 'Rogério': [24,
  'Bacharel em Ciências e Humanidades',
  'Geographic Data Analyst @ TomTom']}

In [98]:
#Deleting the element

del data_analytics["Rogério"]

In [99]:
data_analytics

{'Caio': [24, 'Bacharel em Cinema e Audiovisual', 'Roteirista @ Sbrubles'],
 'Mari Zef': [24, 'Bacharel em Economia', 'Pesquisadora @ UFPE'],
 'Lucas Car': [25, 'Bacharel em Física', 'Programador @ Sbrubles']}

In [100]:
#Creating a new dictionary

ih_courses = {"Data Analytics": ["Juliana", "Raiana", "Rogério", "Vinícius"],
              "UX/UI": ["Mayra", "Juliana", "Constance"],
              "Web Development": ["José", "Heitor", "Arnold", "Danilo"]}

In [101]:
#Let's iterate the dictionary

for key in ih_courses.keys():
    print(key)

Data Analytics
UX/UI
Web Development

In [102]:
for values in ih_courses.values():
    print(values)

['Juliana', 'Raiana', 'Rogério', 'Vinícius']
['Mayra', 'Juliana', 'Constance']
['José', 'Heitor', 'Arnold', 'Danilo']

In [42]:
for key, values in ih_courses.items():
    print("The team of the {} Full Time Bootcamp is: {}".format(key, values))

The team of the Data Analytics Full Time Bootcamp is: ['Juliana', 'Raiana', 'Rogério', 'Vinícius']
The team of the UX/UI Full Time Bootcamp is: ['Mayra', 'Juliana', 'Constance']
The team of the Web Development Full Time Bootcamp is: ['José', 'Heitor', 'Arnold', 'Danilo']

In [43]:
#Dict Comprehension

lst = [num for num in range(10)]

dic = {i: i**2 for i in lst}

print(dic)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

<h1>Sets</h1>

In [45]:
lst = [1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,5,5,5]

lst

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 5, 5]

In [46]:
#Creating a set from a list
new_set = set(lst)

new_set

{1, 2, 3, 4, 5}

In [50]:
#Creating an empty set

set_a = set()

In [51]:
set_a

set()

In [52]:
#Adding elements to the set
set_a.add(4)

In [53]:
set_a

{4}

In [54]:
#Adding another element to the set
set_a.add(5)

set_a

{4, 5}

In [55]:
#Adding a duplicate element to the set
set_a.add(5)

set_a

{4, 5}

In [56]:
#Removing a element from a set
set_a.remove(4)

set_a

{5}

In [57]:
#Removing a random element from a set
set_a.pop()

5

In [58]:
set_a

set()

<h2>Let's go to the fun part!</h2>

In [59]:
set_a = {1,2,3,4,5,6}

set_b = {4,5,6,7,8,9}

In [60]:
set_a.intersection(set_b)

{4, 5, 6}

In [61]:
set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [62]:
set_a - set_b

{1, 2, 3}

In [63]:
set_b - set_a

{7, 8, 9}